@charset "UTF-8";

.jumbotron{
	background : no-repeat center/100% url('../../image/RocketLaptopBanner.png');
	height : 370px;
}

.card{
	border : 1px solid midnightblue;
}

.card-img-top{
	border-bottom : 1px solid midnightblue;
}

.card-body{
	border-bottom : 1px solid midnightblue;
}

.row > .col > .card > .card-body > p{
	margin-bottom : 0px;
}

.row > .col > .card > .card-body{
	font-size : 20px;
}

#bestProductMain > .row > .col > .card > .card-body{
	height : 170px;
}

#newProductMain > .row > .col > .card > .card-body{
	height : 155px;
}